---
import Layout from "../layouts/Layout.astro";

import Presentation from "../sections/Presentation.astro";

import Project from "../components/Project.astro";
import CruzRoja from "../components/CruzRoja.astro";
import Kristall from "../components/Kristall.astro";
import Svgl from "../components/Svgl.astro";
import Miduconf from "../components/Miduconf.astro";
---

<Layout title="Jared Muñoz | Portfolio">
  <main>
    <Presentation />
    <div class="relative top-[100dvh] lg:min-h-[320dvh]">
      <div class="absolute w-full z-20">
        <div
          id="experience"
          class="bg-input min-h-[100dvh] py-16 md:p-0 flex justify-center"
        >
          <div
            class="max-w-screen-lg mx-auto px-8 lg:px-0 w-full place-content-center grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-12"
          >
            <section class="flex flex-col gap-y-8">
              <h2 class="text-3xl font-medium">Working Experience</h2>
              <div class="flex flex-col gap-y-8">
                <CruzRoja />
                <Kristall />
              </div>
            </section>
            <section class="flex flex-col gap-y-8">
              <h2 class="text-3xl font-medium">Open Source Contributions</h2>
              <div class="flex flex-col gap-y-8">
                <Svgl/>
                <Miduconf/>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div
        id="projects"
        class="sticky top-0 z-10 bg-background min-h-dvh grid place-content-center py-32"
      >
        <section
          class="max-w-screen-lg mx-auto flex flex-col gap-y-16 px-8 lg:px-0"
        >
          <Project
            title="Kristall"
            favicon={{
              src: "/kristall.webp",
              alt: "Kristall logo",
            }}
            images={[
              { src: "/kristall-landing.avif", alt: "Kristall Landing Page" },
              {
                src: "/kristall-dashboard.avif",
                alt: "Kristall Dashboard Page",
              },
            ]}
            description="Multi-tenant SaaS for entrepreneurs to manage their businesses including clients, expenses, orders, products, and more."
            badges={[
              "NextJS",
              "TailwindCSS",
              "PostgreSQL",
              "React",
              "TypeScript",
              "Stripe",
              "NestJS",
              "Cloudflare R2",
            ]}
            link="https://kristall.app"
          />
          <Project
            title="OpenJS Chat"
            favicon={{
              src: "/openjs-chat.webp",
              alt: "OpenJS Chat",
            }}
            images={[
              { src: "/openjs-chat.avif", alt: "AreWePlaying main page" },
              {
                src: "/openjs-chat-login.avif",
                alt: "AreWePlaying login page",
              },
            ]}
            description="An Open Source Realtime Chat App built with NextJS and NestJS. It allows users to chat with each others, send friends requests, and create groups."
            badges={[
              "NextJS",
              "TailwindCSS",
              "PostgreSQL",
              "React",
              "TypeScript",
              "NestJS",
              "WebSockets",
              "Drizzle"
            ]}
            link="https://open-js-chat.vercel.app/"
            github="https://github.com/Jared-MB/open-js-chat"
          />
        </section>
      </div>
    </div>
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const screenHeight = window.innerHeight;
    const screenWidth = window.innerWidth;

    if (screenWidth >= 640) {
      return;
    }

    const experience = document.getElementById("experience");
    const projects = document.getElementById("projects");

    if (!experience || !projects) return;

    const experienceHeight = experience.offsetHeight;

    const heigthDifference = screenHeight + (experienceHeight - screenHeight);

    projects.style.paddingTop = `${heigthDifference + 64}px`;
  });
</script>
