---
import "@fontsource-variable/manrope";
const { title } = Astro.props;

import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Jared Muñoz, React Software Developer" />
    <title>{title}</title>
  </head>
  <body class="bg-background text-foreground">
    <slot />
  </body>
</html>
